#app {
    height: 100%;
}

/*头部内容*/
header {
    height: 60px;
    background: #333;
    padding: 5px 0;
}

.navbox {
    width: 1200px;
    margin: auto;
    height: 60px;
    line-height: 60px;
    display: flex;
}

.navbox .logo a {
    color: #ffffff;
    font-size: 22px;
    margin-right: 60px;
}

.list {
    display: flex;
    width: 870px;
}

.list li {
    color: #ffffff;
    flex: 1;
    text-align: center;
}

.list li:hover {
    color: #00c1de;
    cursor: pointer;
}

.seatch {
    width: 39px;
    cursor: pointer;
}

/*主体内容*/
article {
    width: 1200px;
    margin: 10px auto;
}

.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    color: #000;
    width: 900px;
    display: flex;
}

.whitebg .whitebg-list ul {
    display: flex;
}

.whitebg .whitebg-list ul a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.whitebg .whitebg-list ul a:hover {
    border-bottom: 1px solid #333;
}
